services:
  app:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"

    env_file:
      - .env
    
    volumes:
      - ./data:/app/data
    command: ["python", "-m", "src.scalable_sys.test", "--prompt", "Which scholars won Nobel Prizes in Physics?","--rag","--complete-test"]
