services:
  app:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"

    env_file:
      - .env

    volumes:
      - ./data:/app/data
    command: ["python", "-m", "src.scalable_sys.app", "--prompt", "Which scholars won Nobel Prizes in Physics?"]
