# Performance

## Cache Configuration

- **Cache Dimension:** `1 bytes`
- **Cache TTL:** `2` seconds

## Execution Statistics

| Metric | Sum | Average |
|--------|-----|---------|
| Total Time | `86.03` | `6.62` |
| Text2cypher Time | `54.31` | `4.18` |
| Answer_gen Time | `31.70` | `2.44` |

## Cache Log Summary

| Event | Count |
|-------|-------|
| Stored Key | `11` |
| Hits | `6` |
| Removed Key | `6` |
| Expired Key | `4` |

## 📝 Raw Results Summary

```json
[
  {
    "total":3.0,
    "text2cypher":1.91,
    "db_exec":0.0,
    "answer_gen":1.09
  },
  {
    "total":10.97,
    "text2cypher":9.95,
    "db_exec":0.0,
    "answer_gen":1.01
  },
  {
    "total":14.02,
    "text2cypher":7.62,
    "db_exec":0.0,
    "answer_gen":6.41
  },
  {
    "total":3.07,
    "text2cypher":2.25,
    "db_exec":0.0,
    "answer_gen":0.82
  },
  {
    "total":10.85,
    "text2cypher":9.44,
    "db_exec":0.0,
    "answer_gen":1.4
  },
  {
    "total":5.32,
    "text2cypher":3.29,
    "db_exec":0.0,
    "answer_gen":2.03
  },
  {
    "total":3.41,
    "text2cypher":2.53,
    "db_exec":0.0,
    "answer_gen":0.88
  },
  {
    "total":3.51,
    "text2cypher":2.46,
    "db_exec":0.0,
    "answer_gen":1.05
  },
  {
    "total":5.36,
    "text2cypher":3.86,
    "db_exec":0.0,
    "answer_gen":1.5
  },
  {
    "total":6.95,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":6.95
  },
  {
    "total":4.55,
    "text2cypher":3.33,
    "db_exec":0.0,
    "answer_gen":1.22
  },
  {
    "total":6.42,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":6.41
  },
  {
    "total":8.6,
    "text2cypher":7.67,
    "db_exec":0.0,
    "answer_gen":0.93
  }
]
```
