# Performance

## Cache Configuration

- **Cache Dimension:** `500 bytes`
- **Cache TTL:** `10000` seconds

## Execution Statistics

| Metric | Sum | Average |
|--------|-----|---------|
| Total Time | `143.60` | `5.13` |
| Text2cypher Time | `54.16` | `2.01` |
| Answer_gen Time | `89.24` | `3.31` |

## Cache Log Summary

| Event | Count |
|-------|-------|
| Stored Key | `18` |
| Hits | `12` |
| Removed Key | `0` |
| Expired Key | `0` |

## 📝 Raw Results Summary

```json
[
  {
    "total":5.06,
    "text2cypher":3.74,
    "db_exec":0.0,
    "answer_gen":1.31,
    "error":null
  },
  {
    "total":7.36,
    "text2cypher":2.97,
    "db_exec":0.01,
    "answer_gen":4.37,
    "error":null
  },
  {
    "total":6.81,
    "text2cypher":5.59,
    "db_exec":0.0,
    "answer_gen":1.21,
    "error":null
  },
  {
    "total":2.49,
    "text2cypher":1.58,
    "db_exec":0.0,
    "answer_gen":0.9,
    "error":null
  },
  {
    "total":4.53,
    "text2cypher":2.26,
    "db_exec":0.0,
    "answer_gen":2.26,
    "error":null
  },
  {
    "total":33.52,
    "text2cypher":7.84,
    "db_exec":0.01,
    "answer_gen":25.67,
    "error":null
  },
  {
    "total":23.07,
    "text2cypher":6.08,
    "db_exec":0.0,
    "answer_gen":16.99,
    "error":null
  },
  {
    "total":null,
    "text2cypher":null,
    "db_exec":null,
    "answer_gen":null,
    "error":"Binder exception: Variable i is not in scope."
  },
  {
    "total":2.53,
    "text2cypher":1.68,
    "db_exec":0.0,
    "answer_gen":0.85,
    "error":null
  },
  {
    "total":2.97,
    "text2cypher":1.84,
    "db_exec":0.01,
    "answer_gen":1.12,
    "error":null
  },
  {
    "total":5.1,
    "text2cypher":3.86,
    "db_exec":0.01,
    "answer_gen":1.23,
    "error":null
  },
  {
    "total":3.14,
    "text2cypher":2.02,
    "db_exec":0.01,
    "answer_gen":1.11,
    "error":null
  },
  {
    "total":4.23,
    "text2cypher":2.7,
    "db_exec":0.0,
    "answer_gen":1.53,
    "error":null
  },
  {
    "total":3.79,
    "text2cypher":2.81,
    "db_exec":0.01,
    "answer_gen":0.96,
    "error":null
  },
  {
    "total":3.65,
    "text2cypher":2.45,
    "db_exec":0.0,
    "answer_gen":1.19,
    "error":null
  },
  {
    "total":0.0,
    "text2cypher":null,
    "db_exec":null,
    "answer_gen":null,
    "error":null
  },
  {
    "total":5.75,
    "text2cypher":2.35,
    "db_exec":0.0,
    "answer_gen":3.4,
    "error":null
  },
  {
    "total":6.87,
    "text2cypher":4.39,
    "db_exec":0.01,
    "answer_gen":2.47,
    "error":null
  },
  {
    "total":null,
    "text2cypher":null,
    "db_exec":null,
    "answer_gen":null,
    "error":"Binder exception: Variable i is not in scope."
  },
  {
    "total":2.22,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":2.22,
    "error":null
  },
  {
    "total":2.57,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":2.56,
    "error":null
  },
  {
    "total":2.73,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":2.73,
    "error":null
  },
  {
    "total":1.17,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":1.17,
    "error":null
  },
  {
    "total":2.63,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":2.63,
    "error":null
  },
  {
    "total":1.28,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":1.27,
    "error":null
  },
  {
    "total":1.16,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":1.16,
    "error":null
  },
  {
    "total":2.34,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":2.33,
    "error":null
  },
  {
    "total":4.08,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":4.07,
    "error":null
  },
  {
    "total":1.53,
    "text2cypher":0.0,
    "db_exec":0.01,
    "answer_gen":1.52,
    "error":null
  },
  {
    "total":1.02,
    "text2cypher":0.0,
    "db_exec":0.0,
    "answer_gen":1.01,
    "error":null
  }
]
```
