# Performance

## Cache Configuration

- **Cache Deactivated**
## Execution Statistics

| Metric | Sum | Average |
|--------|-----|---------|
| Total Time | `58.83` | `4.53` |
| Text2cypher Time | `34.58` | `2.66` |
| Answer_gen Time | `24.23` | `1.86` |

## 📝 Raw Results Summary

```json
[
  {
    "total":3.36,
    "text2cypher":2.23,
    "db_exec":0.0,
    "answer_gen":1.14
  },
  {
    "total":4.04,
    "text2cypher":2.88,
    "db_exec":0.0,
    "answer_gen":1.15
  },
  {
    "total":2.81,
    "text2cypher":1.94,
    "db_exec":0.0,
    "answer_gen":0.87
  },
  {
    "total":3.45,
    "text2cypher":2.27,
    "db_exec":0.0,
    "answer_gen":1.18
  },
  {
    "total":4.06,
    "text2cypher":2.75,
    "db_exec":0.0,
    "answer_gen":1.3
  },
  {
    "total":2.0,
    "text2cypher":1.05,
    "db_exec":0.0,
    "answer_gen":0.95
  },
  {
    "total":2.56,
    "text2cypher":1.19,
    "db_exec":0.0,
    "answer_gen":1.38
  },
  {
    "total":3.49,
    "text2cypher":2.46,
    "db_exec":0.0,
    "answer_gen":1.03
  },
  {
    "total":1.62,
    "text2cypher":1.06,
    "db_exec":0.0,
    "answer_gen":0.55
  },
  {
    "total":2.96,
    "text2cypher":2.12,
    "db_exec":0.0,
    "answer_gen":0.84
  },
  {
    "total":4.0,
    "text2cypher":1.93,
    "db_exec":0.0,
    "answer_gen":2.06
  },
  {
    "total":11.67,
    "text2cypher":5.34,
    "db_exec":0.0,
    "answer_gen":6.33
  },
  {
    "total":12.81,
    "text2cypher":7.36,
    "db_exec":0.0,
    "answer_gen":5.45
  }
]
```
